<launch>

  <arg name="rviz" default="true" />

  <node pkg="loam_velodyne_kitti_ros" type="scanRegistrationKittiRos" name="scanRegistrationKittiRos" args="/home/claydergc/KITTIBenchmark 00" output="screen"/>

  <!--<node pkg="loam_velodyne_kitti_ros" type="scanRegistrationKittiRos" name="scanRegistrationKittiRos" output="screen"/>-->

  <node pkg="loam_velodyne_kitti_ros" type="laserOdometryKittiRos" name="laserOdometryKittiRos" output="screen" respawn="true">
  </node>

  <node pkg="loam_velodyne_kitti_ros" type="laserMappingKittiRos" name="laserMappingKittiRos" output="screen"/>
  <node pkg="loam_velodyne_kitti_ros" type="transformMaintenanceKittiRos" name="transformMaintenanceKittiRos" output="screen"/>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find loam_velodyne_kitti_ros)/rviz_cfg/loam_velodyne.rviz" />
  </group>

</launch>
